doctype 5
html(ng-app)
    head
        title= title
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css', media='screen')
        link(rel='stylesheet', href='/stylesheets/visuals.css')
        script(src='/javascripts/angular.min.js')
    body
        script(src='/socket.io/socket.io.js')
        script(src='/d3/d3.v3.min.js')
        .container-fluid(ng-controller='DashboardCtrl')
            .row-fluid
                //- Header
                .span12
                    h2 Arduino Dashboard*
            .row-fluid
                .span12.statusbar.well.well-small
                    .row-fluid
                        .span2
                            button.btn-warning.btn-small(ng-click='resetBoard()') Reset board
                        .span6
                            form.form-inline
                                label Sampling interval
                                =' '
                                input.input-small(type='text', placeholder='100 ms', ng-model='interval')
                                =' '
                                button.btn.btn-small(ng-click='setSamplingInterval()') Send
                        .span4
                            #status-msg.pull-right
                    
            .row-fluid
                .span6.analog-pins
                    h4 Analog pins
                    #analog-accordion.accordion
                        .accordion-group(ng-repeat='pin in pins | filter:isAnalog')
                            .accordion-heading
                                a.accordion-toggle(data-toggle='collapse', 
                                    href='#A'+'{{$index}}'+'-inner')
                                        {{'A' + $index}}
                            .accordion-body.collapse.in(id='A'+'{{$index}}'+'-inner')
                                .accordion-inner
                                    .chart(id='achart'+'{{$index}}')
                                    .acontrols
                                        form.form-inline
                                            label.checkbox
                                                input(type='checkbox', 
                                                      ng-model='pin.report',
                                                      ng-checked='pin.report',
                                                      ng-change='reportAnalogPin(pin)')
                                                ='Enable'
                .span6.digital-pins
                    h4 Digital pins
                    #digital-accordion.accordion
                        .accordion-group(ng-repeat='pin in pins | filter:isDigital')
                            .accordion-heading
                                a.accordion-toggle(data-toggle='collapse', 
                                    href='#D'+'{{$index}}'+'-inner')
                                        {{'D' + ($index + 2)}}
                            .accordion-body.collapse.in(id='D'+'{{$index}}'+'-inner')
                                .accordion-inner
                                    form.form-inline
                                        select.input-small(ng-model='pin.mode', 
                                                           ng-options='modes[m] for m in pin.supportedModes',
                                                           ng-change='setPinMode(pin, ($index + 2))')
                                        =' '
                                        button.btn.btn-small(ng-click='togglePin(pin, ($index + 2))', 
                                                             ng-disabled='pinNotOutput(pin)',
                                                             ng-hide='pinIsAdjustable(pin)',
                                                             ng-class='getLevelClass(pin)')
                                            {{toggleText(pin)}}
                                        =' '
                                        input.input-small(type='range', min='0', max='255',
                                                          ng-model='pin.value',
                                                          ng-hide='!pinIsAdjustable(pin)',
                                                          ng-change='adjustPinValue(pin, ($index + 2))')
                                        =' '
                                        label(ng-hide='!pinIsAdjustable(pin)') {{pin.value}}

        script(src='http://code.jquery.com/jquery.js')
        script(src='/bootstrap/js/bootstrap.min.js')
        script(src='/javascripts/dashboard.js')
        script(src='/javascripts/dashboardctrl.js')
